h1 { color: red; 
  text-align: center;
  font-size: 66px;}


  H2 {text-align: center;}


  #centered {text-align: center;}
  .centered {text-align: center;}

  #left {text-align: left;}
  .left {text-align: left;}

  #right {text-align: right;}
  .right {text-align: right;}

  img {
    max-width: 100%;
    width: 500px; }